


<link rel="stylesheet" href="/assets/web/css/footer.css" xmlns:th="http://www.w3.org/1999/xhtml"/>
<div class="container-fluid" style="width:100%; margin-top:20px;">
  <div class="row text-center" style="background-color: #fc7d2a; padding:20px;" >
    <div class="col-md-8">
      <div class="row">
        <div class="col-sm-5 col-md-5 footer-logo">
          <img width="300" src="/assets/images/cambodia-post-bank-footer-logo.png" alt="Cambodia Post Bank" />
        </div>
        <div class="col-md-7 col-sm-7 footer-text">
          <p class="txt1">Office Phone: +855(0) 23 260 888<br/>E-mail: info@cambodiapostbank.com</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 footer-address">
      <p class="txt1">#265-269, St.Ang Duong, Sangkat Wat Phnom, Khan Doun Penh, Phnom Penh, Cambodia.</p>
    </div>
  </div>
</div>