<!--jquery-->
<script src="/assets/jquery/jquery-3.6.0.min.js"></script>
<!--boostrap-->
<script src="/assets/bootstrap/bootstrap.min.js"></script>
<!--sweetalert-->
<script src="/assets/sweetalert/sweetalert2.min.js"></script>
<!-- jQuery UI -->
<!--<script src="/assets/jquery-ui/jquery-ui.min.js"></script>-->
<!-- jQuery UI Datepicker -->
<!--<script src="/assets/jquery-ui/datepicker-jquery-ui.min.js"></script>-->

<!--datetimepicker new version-->
<script src="/assets/datetimepicker-master/jquery.js"></script>
<script src="/assets/datetimepicker-master/build/jquery.datetimepicker.full.min.js"></script>