<!--boostrap-->
<link rel="stylesheet" href="/assets/bootstrap/bootstrap.min.css" />
<!--fontawesome-->
<link rel="stylesheet" href="/assets/fontawesome-free-5.15.4-web/css/all.min.css" />
<!--sweetalert-->
<link rel="stylesheet" href="/assets/sweetalert/sweetalert2.min.css" />
<!-- jQuery UI -->
<!--<link rel="stylesheet" href="/assets/jquery-ui/jquery-ui.css" />-->
<!-- jQuery UI Datepicker -->
<!--<link rel="stylesheet" href="/assets/jquery-ui/datepicker-jquery-ui.min.css" />-->

<!--datetimepicker new version-->
<link rel="stylesheet" type="text/css" href="/assets/datetimepicker-master/jquery.datetimepicker.css" />